name: Ruby SDK build and unit tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@ed55d55e820a01da7d3e4863a8c51a61d73c3228
        with:
          ruby-version: '3.2'
      - name: Install dependencies
        run: cd featurehub-sdk && bundle install
      - name: Rubocop
        run: cd featurehub-sdk && bundle exec rubocop
      - name: Run tests
        run: cd featurehub-sdk && bundle exec rspec

