name: Ruby SDK build and unit tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 3.2
          - 3.3
          - 3.4
    steps:
      - uses: actions/checkout@v5
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install dependencies
        run: cd featurehub-sdk && bundle install
      - name: Rubocop
        run: cd featurehub-sdk && bundle exec rubocop
      - name: Run tests
        run: cd featurehub-sdk && bundle exec rspec

