name: Ruby SDK build and unit tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@359bebbc29cbe6c87da6bc9ea3bc930432750108
        with:
          ruby-version: '2.7.6'
      - name: Install dependencies
        run: cd featurehub-sdk && bundle install
      - name: Rubocop
        run: cd featurehub-sdk && bundle exec rubocop
      - name: Run tests
        run: cd featurehub-sdk && bundle exec rspec

